NODE_ENV=
PORT=
DATABASE_URL=

FRONTEND_URL=
BACKEND_PUBLIC_URL=
API_PUBLIC_URL=
API_BASE_URL=
CORS_ALLOWED_ORIGINS=
CORS_ORIGIN=
API_JSON_BODY_LIMIT=

JWT_SECRET=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_TTL=
PASSWORD_RESET_RETURN_TOKEN=
PASSWORD_RESET_TTL_MINUTES=

AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=
USERS_SERVICE_HOST=
USERS_SERVICE_PORT=
CATALOG_SERVICE_HOST=
CATALOG_SERVICE_PORT=
ORDERS_SERVICE_HOST=
ORDERS_SERVICE_PORT=
AFFILIATE_SERVICE_HOST=
AFFILIATE_SERVICE_PORT=

REDIS_ENABLED=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_KEY_PREFIX=
REDIS_DEFAULT_TTL_SECONDS=
REDIS_CONNECTION_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
AGORA_RTC_TOKEN_TTL_SECONDS=3600

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECK_SUM_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_API_BASE_URL=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=
PAYOS_FINAL_SUCCESS_URL=
PAYOS_WALLET_RETURN_URL=
PAYOS_WALLET_CANCEL_URL=
PAYOS_SHOP_WALLET_RETURN_URL=
PAYOS_SHOP_WALLET_CANCEL_URL=

GHN_BASE_URL=
GHN_TOKEN=
GHN_SHOP_ID=
GHN_FROM_DISTRICT_ID=
GHN_PAYMENT_TYPE_ID=
GHN_REQUIRED_NOTE=
GHN_SERVICE_TYPE_ID=

VIETQR_API_BASE_URL=
VIETQR_CLIENT_ID=
VIETQR_API_KEY=
BANK_ACCOUNT_LOOKUP_ENABLED=
PAYOUT_ACCOUNT_ENCRYPTION_KEY=
SELLER_WITHDRAWALS_ENABLED=
BUYER_WITHDRAWALS_ENABLED=

ORDERS_PRICING_ADAPTER=
COD_SHOP_SETTLEMENT_ENABLED=
COD_DEBT_GRACE_HOURS=

AFFILIATE_ATTRIBUTION_SECRET=
AFFILIATE_COMMISSION_HOLD_DAYS=
AFFILIATE_SETTLEMENT_INTERVAL_MS=

RATE_LIMIT_AUTH_LIMIT=
RATE_LIMIT_AUTH_WINDOW_MS=
RATE_LIMIT_UPLOAD_SIGNATURE_LIMIT=
RATE_LIMIT_UPLOAD_SIGNATURE_WINDOW_MS=
RATE_LIMIT_PAYMENT_WEBHOOK_LIMIT=
RATE_LIMIT_PAYMENT_WEBHOOK_WINDOW_MS=
RATE_LIMIT_PUBLIC_CATALOG_LIMIT=
RATE_LIMIT_PUBLIC_CATALOG_WINDOW_MS=

DEPLOY_SMOKE_BASE_URL=
PRISMA_MIGRATE_DEPLOY_ATTEMPTS=
PRISMA_MIGRATE_DEPLOY_RETRY_DELAY_MS=
